@import '../../styles/variables';

@mixin container {
  width: $container-width;
  max-width: 100%;
  margin: 0 auto;
}

@mixin button {
  display: block;
  margin: $space-medium $space-small;
  padding: $space-small $space-large;
  border: none;
  border-radius: 0.4rem;
  color: $color-text-white;
  background-color: $color-primary-dark;
  text-align: center;
  font-size: unset;
  font-family: $font-family-decorative;
  font-weight: 800;
  text-transform: uppercase;

  &:hover {
    background-color: $color-primary;
  }
}
