// BREAKPOINTS
$bp-1200: 75em; // 1200px
$bp-900: 56.25em; // 900px
$bp-600: 37.5em; // 600px

$bp-901: 56.3125em;

//SIZES
$container-width: 118rem; // 1180px;

$space-small: 1.2rem;
$space-medium: 1.8rem;
$space-large: 2.4rem;
$space-xlarge: 3rem;

// FONTS
$font-family-regular: 'Montserrat', sans-serif;
$font-family-decorative: 'Permanent Marker', cursive;

$font-size-regular: 1.8rem;
$font-size-big: 2.4rem;
$font-size-h1: 4.8rem;
$font-size-h1-phone: 3.6rem;
$font-size-h2: 3.6rem;
$font-size-h2-phone: 2.4rem;
$font-size-h3: 2.4rem;
$font-size-h3-phone: 1.8rem;

// COLORS
$color-primary: #2a4f54;
$color-primary-light: #567b80;
$color-primary-dark: #00272b;
$color-secondary: #542f2a;
$color-secondary-light: #825953;
$color-secondary-dark: #2a0800;
$color-background: #fff;

$color-text: #252e2e;
$color-text-white: #fff;
$color-text-light: #475757;

$color-shadow: #475757;
$color-shadow-dark: #354141;

// TRANSITIONS
$transition-time-primary: 0.5s;
