// BREAKPOINTS
$bp-1200: 75em; // 1200px
$bp-900: 56.25em; // 900px
$bp-600: 37.5em; // 600px

$bp-901: 56.3125em;

//SIZES
$container-width: 118rem; // 1180px;

// FONTS
$font-family-regular: 'Montserrat', sans-serif;
$font-family-decorative: 'Permanent Marker', cursive;

// COLORS
$color-primary: #2a4f54;
$color-primary-light: #567b80;
$color-primary-dark: #00272b;
$color-secondary: #542f2a;
$color-secondary-light: #825953;
$color-secondary-dark: #2a0800;
$color-background: #bdc0c1;

$color-text: #252e2e;
$color-text-white: #fff;
$color-text-light: #475757;

$color-shadow: #475757;
