@import '../../styles/variables';
@import '../../styles/mixins';

.reviews {
  width: 100%;
  padding: 8rem 0;
  background: linear-gradient(
      rgba($color: $color-primary, $alpha: 0.7),
      rgba($color: $color-primary, $alpha: 0.7)
    ),
    url('../../images/reviews-background.jpg');
  background-size: cover;
  background-position: center center;

  &__container {
    @include container;
    padding: 0 $space-large;
  }

  &__heading {
    margin: 0 auto 6rem auto;
    color: $color-text-white;
    font-size: $font-size-h2;
    text-align: center;
  }

  &-carousel {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: $bp-600) {
        flex-wrap: wrap;
      }
    }
    &__arrow {
      flex-shrink: 0;
      width: 6rem;
      height: 6rem;
      margin: 0 $space-medium;
      z-index: 2;
      border-radius: 50%;
      background-color: $color-background;
      border: none;
      transition: $transition-time-primary;
      @media only screen and (max-width: $bp-900) {
        width: 4rem;
        height: 4rem;
      }

      &--left {
        margin-left: 0;
      }
      &--right {
        margin-right: 0;
      }

      img {
        width: 50%;
        height: 50%;
        object-fit: cover;
        object-position: center center;
      }

      &:hover {
        cursor: pointer;
      }
    }
    &__card {
      &-container {
        width: 70%;
        height: 25rem;
        position: relative;
        @media only screen and (max-width: $bp-900) {
          height: 32rem;
        }
        @media only screen and (max-width: $bp-600) {
          order: -2;
          width: 100%;
          height: 45rem;
          margin-bottom: $space-large;
        }
        @media only screen and (max-width: $bp-600) and (orientation: landscape) {
          height: 32rem;
        }
      }
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $space-large;
      background-color: $color-background;
      border-radius: 0.4rem;
      box-shadow: 0 0.2rem 1rem $color-shadow-dark;

      &--enter {
        opacity: 0;
        &-active {
          opacity: 1;
          transition: opacity 0.3s 0.3s;
        }
      }

      &--exit {
        opacity: 1;
        &-active {
          opacity: 0;
          transition: opacity 0.3s;
        }
      }

      &-top {
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: $bp-600) {
          flex-direction: column;
        }
      }
      &-image {
        width: 10rem;
        height: 10rem;
        margin: 0 $space-medium $space-medium $space-medium;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0.2rem 1rem $color-shadow;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-author {
        font-size: $font-size-h3;
        font-weight: 800;
      }

      &-country {
        font-size: $font-size-regular;
      }

      &-bottom {
        width: 100%;
        margin-top: $space-medium;
      }

      &-review {
        text-align: center;
        font-size: $font-size-regular;
        line-height: 1.4;
        color: $color-text;
      }
    }
  }
}
