@import '../../styles/variables';
@import '../../styles/mixins';

.reviews {
  width: 100%;
  padding: 8rem 0;
  background-color: $color-primary;

  &__container {
    @include container;
    padding: 0 $space-large;
  }

  &__heading {
    margin: 0 auto 6rem auto;
    color: $color-text-white;
    font-size: $font-size-h2;
    text-align: center;
  }
}
