@import '../../styles/variables';
@import '../../styles/mixins';

.gallery {
  width: 100%;
  padding: 8rem 0;
  background-color: $color-primary-light;

  &__container {
    @include container;
    padding: 0 $space-large;
  }

  &__heading {
    margin: 0 auto 6rem auto;
    color: $color-text-white;
    font-size: $font-size-h2;
    text-align: center;
  }

  &__content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: $space-small;

    @media only screen and (max-width: $bp-600) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: center;

    &-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity $transition-time-primary;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}
