@import '../../styles/variables';

.navigation {
  &__navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    padding: $space-large $space-xlarge;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: $transition-time-primary box-shadow;
  }

  &__logo {
    font-size: 3.4rem;
    font-family: $font-family-decorative;
    color: $color-primary;
    @media only screen and (max-width: $bp-900) {
      font-size: 2.8rem;
    }
  }

  &__link {
    color: $color-text;
    &:hover {
      color: $color-primary-light;
    }
  }

  &__social {
    display: flex;
    @media only screen and (max-width: $bp-900) {
      display: none;
    }

    &-icon {
      width: 1.6rem;
    }
  }

  &--visible {
    .navigation__navbar {
      position: fixed;
      box-shadow: 0 0.2rem 1rem $color-shadow;
    }
  }
}

.navigation-main {
  @media only screen and (max-width: $bp-900) {
    display: none;
  }
  &__menu {
    display: flex;
    align-items: center;
    margin: 0;

    &-item {
      list-style: none;
      padding: 0 $space-small;
    }
  }
}

.navigation-mobile {
  @media only screen and (min-width: $bp-901) {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0rem $space-xlarge $space-large $space-xlarge;
    margin: 0;

    &-item {
      display: block;
      list-style: none;
      font-size: $font-size-regular;
      padding: $space-small 0;
    }
  }

  &__drawer {
    position: fixed;
    width: 100vw;
    top: -28rem;
    right: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    background-color: white;
    box-shadow: 0 0.2rem 1rem $color-shadow;
    transition: all $transition-time-primary;
  }

  &--open {
    .navigation__navbar {
      box-shadow: unset;
      animation: unset;
      position: fixed;
    }

    .navigation-mobile__drawer {
      top: 8.02rem;
      pointer-events: unset;
    }
  }
}
